.output {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.dropdown-btn {
  width: 200px;
}
